body {
    font-family:sans-serif;

}

.nav {
    font-size: 13px;
    color: #518B25;
    font-weight:bolder;
    height: 30px;
    width: 60px;
    text-align: center;
    
}

.nav-style {
    font-size: 10px;
    color: #518B25;
    font-weight: bold;
    height: 35px;
    width: 140px;
}

.navbar {
    font-weight: bold;
}
.telephone {
    font-size: x-small;
    color: #ffffff;
}

#footer{
    background: #212121;
    color: #ffffff;
    font-weight: bold;
}

#open {
    font-weight: bolder;
}

#followus {
    color: #ADADAD;
    font-weight: lighter;
}

.logo {
    color: #ADADAD;
    font-size: 18px;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
}

.card-img-top {
    height:400px;
    object-fit: cover;
}
a {
    text-decoration: none;
  }

.modal-body{
text-align: center;
color: #212121;
}

.breadcrumb a{
    color: #4e4c4c;
    text-decoration: none;
 }

 @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s infinite linear;
}

